<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="Itemmapper">
     <select id="Item_list" parameterType="cf.garageon.app.VO.SearchCriteria" resultType="cf.garageon.app.VO.ItemVO">

     SELECT  item_Number,
 				item_Name,
				item_Writer,
				item_Price,
				item_Detail,
				sales_Contact,
				sales_Kakaoid,
				<!-- deal_location, -->
				item_Sort
				<!-- item_Thumbimage -->
				
		 FROM ( 
		        SELECT item_Number,
 				item_Name,
				item_Writer,
				item_Price,
				item_Detail,
				sales_Contact,
				sales_Kakaoid,
				<!-- deal_location,  -->
				item_Sort
				<!--  item_Thumbimage,
		               ROW_NUMBER() OVER(ORDER BY item_Number DESC) AS RNUM  -->
		         FROM item
		         where 1=1
		         <include refid="search"></include>
		                       ) MP
		<!-- WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} -->
		ORDER BY item_Number DESC
     </select>
     
      <select id="listCount" resultType="int">
		SELECT COUNT(item_Number)
		   FROM item
		   WHERE 1=1
		<include refid="search"></include>	
		   AND item_Number > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'n'.toString()">AND item_Name LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND item_Writer LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 's'.toString()">AND item_Sort LIKE '%' || #{keyword} || '%'</if>
			
		</if>
	</sql>
     
     <!-- 게시판 글 작성 -->
   <insert id="Item_write">
   insert into item(
   				item_Number,
 				item_Name,
				item_Writer,
				item_Price,
				item_Detail,
				sales_Contact,
				sales_Kakaoid,
				<!-- deal_location,  -->
				item_Sort
				<!-- item_Thumbimage,
				item_Image -->
				)  
	                 VALUES(   item_seq.nextval
	                 		  , #{item_Name}
	                 		  , #{item_Writer}
	                 		  , #{item_Price}
	                 		  , #{item_Detail}
	                 		  , #{sales_Contact}
	                 		  , #{sales_Kakaoid}
	                 		 <!-- , #{deal_location} -->
	                 		  , #{item_Sort}
	                 		  <!-- , #{item_Thumbimage}
	                 		  , #{item_Image} -->
	                 		   )
   
   </insert>
   
   <!-- 상품 상세조회 -->
<select id="Item_read" parameterType="int" resultType="cf.garageon.app.VO.ItemVO">
		SELECT	item_Number
			  ,item_Name
			  ,item_Writer
			  ,item_Price
			  ,item_Detail
			  ,sales_Contact
			  ,sales_Kakaoid
			  <!-- ,deal_location -->
			  ,item_Sort
			  ,item_Date
			  <!-- ,item_Thumbimage
				,item_Image -->
		 FROM ITEM
		 WHERE item_Number = #{item_Number}
	</select>
	
	<update id="Item_update" parameterType="cf.garageon.app.VO.ItemVO">
      update  ITEM set item_Name=#{item_Name},
                           item_Writer=#{item_Writer},
                           item_Price=#{item_Price},
                           item_Detail=#{item_Detail},
                           sales_Contact=#{sales_Contact},
                           sales_Kakaoid=#{sales_Kakaoid},
                           <!-- deal_location=#{deal_location}, -->
                           item_Sort=#{item_Sort}
                           <!-- item_Thumbimage=#{item_Thumbimage},
			               item_Image=#{item_Image} -->
  
                         where item_Number=#{item_Number}
      </update>
      
      <!-- 상풍등록 삭제 글 삭제 -->
      <delete id="Item_delete">
      delete from ITEM where item_Number=#{item_Number}
   </delete>
    </mapper>
    