<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="Qnamapper">
    <!-- qna 목록 조회 -->
    <select id="readQna" parameterType="int" resultType="cf.garageon.app.VO.QnABoardVO">
    	SELECT * FROM QNA
	</select>
	
	<!-- 게시판 글 작성 -->
   <insert id="insertQna">
	   INSERT INTO QNA(       qna_Number,
	   					      qna_Writer,
	   					      qna_Subject,
	   					      qna_Content)  
	                 VALUES(   qna_sec.nextval
	                 		  , #{qna_Writer}
	                 		  , #{qna_Subject}
	                 		  , #{qna_Content}
	                 		   )
   
   </insert>
   
   <select id="qna_read" parameterType="int"  resultType="cf.garageon.app.VO.QnABoardVO">
    	SELECT
    		 *
    	 FROM QNA
    	WHERE QNA_NUMBER = #{QNA_NUMBER}
	</select>
	
	<update id="qna_update" parameterType="cf.garageon.app.VO.QnABoardVO">
      update  QNA set qna_Subject=#{qna_Subject},
                           qna_Content=#{qna_Content}
                         where QNA_NUMBER=#{qna_Number}
      </update>
      
      <!-- 후기게시판 글 삭제 -->
      <delete id="qna_delete">
      delete from QNA where QNA_NUMBER=#{qna_Number}
   </delete>
	
    </mapper>