<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="Boardmapper">
    <!-- 후기게시판 조회 -->
   <select id="list" resultType="kr.koko.ex14.review.dto.BoardVO" parameterType="kr.koko.ex14.review.dto.SearchCriteria">
		SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
		       READCOUNT
		 FROM ( 
		        SELECT BNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE, 
		               READCOUNT,
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM MP_BOARD 
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>
	
	 <!-- 후기게시판 총 게시물 수 조회(검색기능) -->
	<select id="listCount" parameterType="kr.koko.ex14.review.dto.SearchCriteria" resultType="int">
	SELECT COUNT(BNO)
		   FROM MP_BOARD
		   WHERE 1=1
		<include refid="search"></include>	
		   AND BNO > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<!-- 후기게시판 상세조회 -->
<select id="read" parameterType="int" resultType="kr.koko.ex14.review.dto.BoardVO">
		SELECT	BNO
			  , TITLE
			  , CONTENT
			  , WRITER
			  ,review_Email
			  ,review_Password
			  , REGDATE
			  ,READCOUNT
			  ,review_Image
		 FROM MP_BOARD
		 WHERE BNO = #{bno}
	</select>
	
	<!-- 파일조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
	SELECT FILE_NO,
		   ORG_FILE_NAME,
		   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
	  FROM MP_FILE
	 WHERE BNO = #{BNO}
	   AND DEL_GB = 'N'
    	 ORDER BY FILE_NO ASC
</select>
   <!-- 게시판 글 작성 -->
   <insert id="insert" parameterType="String" useGeneratedKeys="true" keyProperty="bno">
   <selectKey keyProperty="bno" resultType="int" order="BEFORE">
	    	SELECT MP_BOARD_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	   INSERT INTO MP_BOARD(    BNO 
	   					      , TITLE 
	   					      , CONTENT 
	   					      , WRITER
	   					      , review_Email
	   					      , review_Password
	   					      ,review_Image
	   					      )
	                 VALUES(    MP_BOARD_SEQ.NEXTVAL 
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}
	                 		  , #{review_Email}
	                 		  , #{review_Password}
	                 		  ,#{review_Image} 
	                 		  )
   
   </insert>
   
   
   
   <!-- 후기 게시판 글 수정 -->
     <update id="modify" parameterType="kr.koko.ex14.review.dto.BoardVO">
      update  MP_BOARD set title=#{title},
                          content=#{content},
                           review_Email=#{review_Email},
                            review_Password=#{review_Password}
                         where BNO=#{bno}
      </update>
      
      <!-- 후기게시판 글 삭제 -->
      <delete id="delete">
      delete from MP_BOARD where BNO=#{bno}
   </delete>
   
   <!-- 후기 게시판 조회수-->
	<update id="upHit" parameterType="int">
	update  MP_BOARD set 
	readCount=readCount+1 
	where BNO=#{bno}
	</update>
	
	<!-- 파일업로드 -->
	<insert id="insertFile" parameterType="hashMap">
		INSERT INTO MP_FILE(
			FILE_NO,
			BNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			SEQ_MP_FILE_NO.NEXTVAL,
			#{BNO}+1,
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
 <!-- 첨부파일 다운 -->
<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
	SELECT 
		STORED_FILE_NAME,
		ORG_FILE_NAME
	FROM MP_FILE
	WHERE FILE_NO = #{FILE_NO}
</select>
    
  <update id="updateFile" parameterType="hashMap">
    	UPDATE MP_FILE SET
    	DEL_GB = 'Y'
    	WHERE FILE_NO = #{FILE_NO}
    </update>
    
    </mapper>