<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="ReplyQnamapper">
   
  
	<select id="qna_reply" parameterType="int"  resultType="cf.garageon.app.VO.QnaReplyVO">
    	SELECT
    		  QNA_NUMBER,QNA_RNUMBER, QNA_DETAIL, QNA_NAME, QNA_REPLY_DATE
    	 FROM QNA_REPLY
    	WHERE QNA_NUMBER = #{QNA_NUMBER}
	</select>
	
	<insert id="qna_reply_write">
	INSERT INTO QNA_REPLY(
	  QNA_NUMBER
	, QNA_RNUMBER
	, QNA_DETAIL
	, QNA_NAME
)
VALUES(    
      #{qna_Number}
	, qna_reply_seq.NEXTVAL
	, #{qna_Detail}
	, #{qna_Name}	)
	</insert>
	
	<!-- 선택된 댓글 조회 -->
	<select id="qna_reply_select" resultType="kcf.garageon.app.VO.QnaReplyVO">
		SELECT
				QNA_NUMBER
	, QNA_RNUMBER
	, QNA_DETAIL
	, QNA_NAME
    ,QNA_REPLY_DATE
    FROM QNA_REPLY
		 WHERE QNA_RNUMBER = #{qna_rNumber}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="qna_reply_update" parameterType="cf.garageon.app.VO.QnaReplyVO">
		UPDATE QNA_REPLY SET QNA_DETAIL = #{qna_Detail}
		WHERE QNA_RNUMBER = #{qna_rNumber}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="qna_reply_delete" parameterType="cf.garageon.app.VO.QnaReplyVO">
		DELETE FROM QNA_REPLY
		WHERE QNA_RNUMBER = #{qna_rNumber}
	</delete>
    </mapper>